:root {
    --primary-color: #8B0000; /* Темно-красный */
    --secondary-color: #EDE9E3; /* Светло-бежевый */
    --text-color: #2D2D2D; /* Темно-серый */
    --background-color: #FFFFFF; /* Белый */
  }
  